<section class="community">
    <h2 class="community__title">
        Join the community!
    </h2>
    <div class="community__container">
        <div class="badge">
            {{> badge }}
        </div>

        <p class="community__text">
            RomaJS è una comunità di sviluppatori JavaScript e persone interessate alle tecnologie che ruotano intorno a questo magnifico linguaggio di programmazione. RomaJS è una comunità informale e orizzontale, gestita dalla comunità per la comunità. Il gruppo è aperto e tutti sono benvenuti, basta iscriversi su http://romajs.org. Gli eventi di RomaJS hanno come obiettivo il networking, la crescita e la condivisione della passione per lo sviluppo JavaScript.
        </p>
    </div>
</section>