<article class="event">
    <time class="event__section event--date">
        23/04/2014
    </time>
    <section class="event__section event--title">
        AngularJS - The good, the bad and&nbsp;the&nbsp;ugly
    </section>
    <section class="event__section event--author">
        <a href="http://twitter.com/gillesruppert" class="event__author__link">
            Gilles Ruppert
        </a>
    </section>
    <section class="event__section event--place">
        Luiss Enlabs
    </section>
</article>


 {{!-- <table class="event-table">
     <tr>
         <td>
            23/04/2014   
         </td>
         <td>
           AngularJS - The good, the bad and the ugly  
         </td>
         <td>
            Gilles Ruppert
         </td>
         <td>
            Luiss Enlabs
         </td>
     </tr>
 </table> --}}