<header class="masthead bg-blue">
    <h1 class="masthead__title">
        Roma JS
    </h1>
    <p class="masthead__text">
        This is a JavaScript User Group based in the city of Roma, Italia. We discuss and have meetups about JavaScript: server-side, client-side, mobile, HTML5. Anything&nbsp;related JS.
    </p>
</header>